

<table class="table Container" >
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Curso</th>
        <th scope="col">Período</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let estudante of estudantes">
        <th scope="row">{{estudante.id}}</th>
        <td>{{estudante.nome}}</td>
        <td>{{estudante.email}}</td>
        <td>{{estudante.curso}}</td>
        <td>{{estudante.periodo}}</td>
      </tr>
    </tbody>
  </table>